.container-home{
    padding: 0%;
   
    background-image: url('../images/flight3.webp');
    /* background-clip: url(https://www.pexels.com/@german-korb-1920614/); */

    background-size: cover;
    background-repeat: no-repeat;    
    height: 120vh;
    /* width: 80%; */
}
.h5-info{
    color: palevioletred;
    
}
.home3{
    color: blue;
    font-size: 12px;
}
.h1{
    font-style: italic;
    font-size: 200;
    font-display: initial;
    color: wheat;
    background-color: hsl(hue, saturation, lightness);
    font-weight: 100;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}